BODY {
font-size: 1em;
background-color:white;
text-align: center
margin:0px 0;
padding:0;
line-height: 1.4em;
}

TD.headerTitle {
size: 7pt;
font-style: normal;
font-weight: bold;
text-align: center;
font-size: small;
background-color: #ffffff;
color: black;
}

TD.headerTitleLeft {
size: 7pt;
font-style: normal;
font-weight: bold;
text-align: left;
font-size: small;
background-color: #ffffff;
color: black;
}



TD.headerTable {
size: 8pt;
font-style: normal;
font-weight: bold;
text-align: center;
font-size: small;
background-color: #eeeeee;
color: black;
border: 1;
border-color: black;
border-width: thin;
border-style: outset;
}

TD.headerWarning {
size: 8pt;
font-style: normal;
font-weight: bold;
text-align: center;
font-size: small;
background-color: #ccccff;
color: red;
border: 1;
border-color: black;
border-width: thin;
border-style: dashed;
}

TD.cellWarning {
size: 8pt;
font-style: normal;
font-weight: normal;
text-align: left;
font-size: small;
background-color: #ccccff;
color: red;
border: 1;
border-color: black;
border-width: thin;
border-style: normal;
}

TD.normal {
size: 7pt;
height: 100%
font-style: normal;
font-weight: normal;
text-align: center;
font-size: small;
background-color: white;
color: black;
border: 1;
border-color: black;
border-width: thin;
border-style: outset;
}

TD.normal:hover {
size: 7pt;
font-style: normal;
font-weight: normal;
text-align: center;
font-size: small;
background-color: #ccffcc;
color: black;
border: 1;
border-color: black;
border-width: thin;
border-style: outset;
}

TD.normalLeft {
size: 8pt;
font-style: normal;
font-weight: normal;
text-align: left;
font-size: small;
background-color: white;
color: black;
border: 1;
border-color: black;
border-width: thin;
border-style: outset;
}

TD.normalLeft:hover {
size: 8pt;
font-style: normal;
font-weight: normal;
text-align: left;
font-size: small;
background-color: #CCFFCC;
color: black;
border: 1;
border-color: black;
border-width: thin;
border-style: outset;
}


TD.normalLeftDoi {
size: 8pt;
font-style: normal;
font-weight: normal;
text-align: left;
font-size: small;
background-color: #eeeeff;
color: black;
border: 1;
border-color: black;
border-width: thin;
border-style: outset;
}


TD.normalLeftDoi:hover {
size: 8pt;
font-style: normal;
font-weight: normal;
text-align: left;
font-size: small;
background-color: #FFFFEE;
color: black;
border: 1;
border-color: black;
border-width: thin;
border-style: outset;
}



TR.normal {
size: 7pt;
font-style: normal;
font-weight: normal;
text-align: left;
font-size: small;
background-color: white;
color: black;
border-color: black;
border-width: thin;
border-style: normal;
}

TR.normal:hover {
size: 7pt;
font-style: normal;
font-weight: normal;
text-align: left;
font-size: small;
background-color: #ccffcc;
color: black;
border-color: black;
border-width: thin;
border-style: normal;
}

TD.headerTableCenter {
size: 8pt;
font-style: normal;
font-weight: normal;
text-align: center;
font-size: small;
background-color: #add9ad;
color: black;
border-color: black;
border-width: thin;
border-style: outset;
}

TD.headerTableCenterStep2 {
size: 8pt;
font-style: normal;
font-weight: normal;
text-align: center;
font-size: small;
background-color: #cad9ad;
color: black;
border-color: black;
border-width: thin;
border-style: outset;
}


TD.headerTableCenterStep3 {
size: 8pt;
font-style: normal;
font-weight: normal;
text-align: center;
font-size: small;
background-color: #ccffcc;
color: black;
border-color: black;
border-width: thin;
border-style: outset;
}



TD.headerTableLeft {
size: 8pt;
font-style: normal;
font-weight: normal;
text-align: left;
font-size: small;
background-color: #add9ad;
color: black;
border-color: black;
border-width: thin;
border-style: outset;
}

TD.headerTableLeftStep2 {
size: 8pt;
font-style: normal;
font-weight: normal;
text-align: left;
font-size: small;
background-color: #cad9ad;
color: black;
border-color: black;
border-width: thin;
border-style: outset;
}

TD.headerTableLeftStep3 {
size: 8pt;
font-style: normal;
font-weight: normal;
text-align: left;
font-size: small;
background-color: #ccffcc;
color: black;
border-color: black;
border-width: thin;
border-style: outset;
}


TD.headerLeft {
font-family: italic;
font-size: 8pt;
font-style: normal;
font-weight: bold;
text-align: left;
background-color: white;
color: black;
border-style: groove;
border-width: thin;
border-color: #dddddd;
}

TD.normalLeftTrei {
font-family: italic;
font-size: 8pt;
font-style: normal;
font-weight: bold;
text-align: left;
background-color: #BBBBBB;
color: black;
border-style: groove;
border-width: thin;
border-color: black;
}

TD.disable {
font-family: italic;
font-size: 8pt;
font-style: normal;
font-weight: bold;
text-align: center;
background-color: #BBBBBB;
color: black;
border-style: groove;
border-width: thin;
border-color: black;
}

input.teste {
width: 100%;
height: 100%;
font-weight: normal;
background: inherit;
font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 8pt;
border-style: groove;
border-color: black;
border-width: thin;
}

input.testeRed {
width: 100%;
height: 100%;
font-weight: normal;
background: inherit;
font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 8pt;
border-style: groove;
border-color: red;
border-width: thin;
}


input.buttonInput100Doi {
width: 100%;
color: black;
font-weight: normal;
background: inherit;
font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 8pt;
border-width: thin;
border-color: black;
border-style: inset;
}



input.buttonInput100 {
width: 100%;
color: black;
font-weight: normal;
background: inherit;
font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 8pt;
border-style: groove;
border-color: black;
border-width: thin;
}

input.buttonInput100:hover {
width: 100%;
color: black;
font-weight: normal;
background: inherit;
font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 8pt;
border-style: groove;
border-color: black;
border-width: thin;
}

input.inputbox {
background-color:#FFFFFF;
font-size: 7pt;
width: 100%;
}


select.normal {
border:1px solid #999999;
background-color:#FFFFFF;
font-size: x-small;
width: 100%;
}

select.normalRed {
border:1px solid red;
background-color:#FFFFFF;
font-size: x-small;
width: 100%;
}    



hr {
height:1px;
border:0;
background-color:#666;
width:95%;
}



pre {
font-size:11px;
}



a {
color: #444444;
text-decoration: none;
}



a:visited {
color: #444444;
}


a:hover {
color: #000;
}							    
